/target/*

target/classes/couk/deanreid/scotiaairlines/ui/UI.class
target/classes/couk/deanreid/scotiaairlines/utils/Reference.class
/nbproject/
/target/
pom-DESKTOP-2IAM5R6.xml
scotia-error.log
*.class
*.class
*.class
